/* Reset */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Main */
body {
  background:#404041;
  color:#fff;
  font:16px/24px 'Signika Negative', sans-serif;
  font-weight:400;
}

.wrap {
  padding-left:33%;
}

#sidebar {
  background:#00aeef;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  width:33%;
  overflow:hidden;
}

#sidebar .inner {
  padding:40px;
}

#sidebar p {
  font-weight:300;
  font-size:1.4em;
  line-height:1.3em;
  margin:0 0 1.2em 0;
}

#sidebar b {
  font-weight:700;
}

#contact {
  background:#0E99CD;
  padding:0 4px;
  border-radius:3px;
  margin:0 2px;
  text-decoration: none;
  color:#fff;
}

a#contact:hover {
  text-decoration: underline;
}

.content {
  background:#404041;
}

#projects {
  padding:40px;
}

.unit {
  margin:0 0 60px 0;
}

.unit .num-divider {
  color:#00aeef;
  font-weight:700;
  border-bottom:1px solid #565656;
  line-height:1em;
  padding:0 0 10px 0;
  margin:0 0 10px 0;
  font-size:1.4em;
}

.unit .title {
  display:inline-block;
  margin:0 5px 5px 0;
}

.unit .title-link {
  color:#fff;
  text-decoration: none;
}

.unit a.title-link:hover {
  text-decoration: underline;
}

.unit .description {
  display:inline-block;
  color:#868686;
}

.unit .description:before {
  content: '\00BB';
  margin-right:3px;
}

.unit .image {
  margin:10px 0 0 0;
  width:100%;
  box-shadow:#333 10px 10px 10px;
}

.unit .image:hover {
  outline:2px solid #00aeef;
}

/* Icons */
.icon {
  display:inline-block;
  width:64px;
  height:64px;
  margin:0 20px 0 0;
  background-color:#0e99cd;
}

.icon span {
  display:none;
}

a.icon:hover {
  background-color:#2088af;
}

.icon.linkedin {
  background-image:url('/images/linkedin-128.png');
  background-size:64px;
}

.icon.github {
  background-image:url('/images/github-128.png');
  background-size:64px;
}

.icon.tumblr {
  background-image:url('/images/tumblr-128.png');
  background-size:64px;
}

/* General */
a img   {border:none;}
.left   {float:left;}
.right  {float:right;}