@charset "utf-8";
@import "normalize";
@import "syntax";
@import "roboto-light";
@import "roboto-slab-bold";

$background: #fff;
$primary-color: #333;
$hairline: #eee;
$space: 20px;
$max-width: 800px;

$small-device: 600px;

body {
  background: $background;
  font-family: "robotolight", serif;
  font-size: 22px;
  color: $primary-color;

  @media screen and (max-width: $small-device) {
    font-size: 18px;
  }
}

nav {
  margin: $space 0;
  padding-bottom: $space;
  border-bottom: 1px solid $hairline;
  font-size: 16px;

  a {
    color: #666;
  }

  .back::before {
    padding-right: 5px;
    content: "\2039";
  }
}

h1, h2, h3 {
  font-family: "roboto_slabbold", sans-serif;
  text-rendering: optimizeLegibility;

  @media screen and (max-width: $small-device) {
    letter-spacing: -0.05em;
  }
}

h1 {
  margin: 1em 0 0.5em 0;
  font-size: 42px;

  @media screen and (max-width: $small-device) {
    font-size: 32px;
  }
}

h2 {
  font-size: 30px;

  @media screen and (max-width: $small-device) {
    font-size: 26px;
  }
}

h3 {
  font-size: 24px;

  @media screen and (max-width: $small-device) {
    font-size: 22px;
  }
}

h2, h3 {
  margin: 1.5em 0 0.5em;
}

h2 + h3 {
  margin-top: 0.5em;
}

p, li {
  line-height: 1.75em;

  @media screen and (max-width: $small-device) {
    line-height: 1.6em;
  }
}

p {
  margin: 0.5em 0 1.5em 0;
}

a {
  color: #2980B9;

  :hover {
    color: #206A9A;
  }
}

ul {
  margin-bottom: 1em;

  @media screen and (max-width: $small-device) {
    -webkit-padding-start: $space;
  }
}

li {
  list-style: disc outside;
  margin-bottom: 0.5em;
}

pre {
  padding: 0.25em;
  border-radius: 7px;

  >code {
    font-size: 16px;
    display: flex;
  }

}

.container {
  margin: 0 auto ($space * 4) auto;
  max-width: $max-width;

  @media screen and (max-width: 840px) {
    margin-left: $space;
    margin-right: $space;
  }

  img {
    max-width: $max-width;
  }
}

.article-summary {
  margin: $space 0;

  .article-link {
    font-size: 24px;
    display: block;
    margin-bottom: 0.25em;
  }

  .article-date, .article-note {
    color: #999;
    font-size: 18px;
    display: inline-block;
  }

  .article-note:before {
    color: #ccc;
    content: "|";
    padding: 0 10px 0 5px;
  }

  .article-note a {
    color: #999;
  }
}

.profile-icons {
  a {
    text-decoration: none;
    margin-right: $space;
  }

  svg {
    width: 32px;
    height: 32px;
  }

  &--twitter svg {
    fill: #1DA1F2;
  }

  &--github svg {
    fill: #181717;
  }

  &--linkedin svg {
    fill: #0077B5;
  }
}
