@charset "utf-8";
@import "normalize";
@import "syntax";

$background: #fff;
$primary-color: #333;
$hairline: #eee;
$space: 20px;
$max-width: 800px;

$small-device: 600px;

body {
  background: $background;
  font-weight: 400;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 22px;
  color: $primary-color;

  @media screen and (max-width: $small-device) {
    font-size: 18px;
  }
}

nav {
  margin: $space 0;
  padding-bottom: $space;
  border-bottom: 1px solid $hairline;
  font-size: 16px;

  a {
    color: #666;
  }

  .back::before {
    padding-right: 5px;
    content: "\2039";
  }
}

h1, h2, h3 {
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

h1 {
  margin: 1em 0 0.5em 0;
  font-size: 48px;

  @media screen and (max-width: $small-device) {
    font-size: 32px;
  }
}

h2 {
  font-size: 32px;

  @media screen and (max-width: $small-device) {
    font-size: 26px;
  }
}

h3 {
  font-size: 24px;

  @media screen and (max-width: $small-device) {
    font-size: 22px;
  }
}

h2, h3 {
  margin: 1.5em 0 0.5em;
}

h2 + h3 {
  margin-top: 0.5em;
}

p, li {
  line-height: 1.6em;

  @media screen and (max-width: $small-device) {
    line-height: 1.5em;
  }
}

p {
  margin: 0.5em 0 1.5em 0;
}

b {
  color: #000;
  font-weight: 700;
}

a {
  color: #2980B9;

  :hover {
    color: #206A9A;
  }
}

ul {
  margin-bottom: 1em;

  @media screen and (max-width: $small-device) {
    -webkit-padding-start: $space;
  }
}

li {
  list-style: disc outside;
  margin-bottom: 0.5em;
}

pre {
  padding: 0.25em;
  border-radius: 7px;

  >code {
    font-size: 16px;
    display: flex;
  }

}

table {
  border-collapse: collapse;
  margin-bottom: 1.5em;

  th {
    background: #f5f5f5;
  }

  th, td {
    text-align: left;
    border: 1px solid #ccc;
    padding: 6px 10px;
  }
}

.container {
  margin: 0 auto ($space * 4) auto;
  max-width: $max-width;

  @media screen and (max-width: 840px) {
    margin-left: $space;
    margin-right: $space;
  }

  img {
    max-width: $max-width;

    @media screen and (max-width: $small-device) {
      max-width: 100%;
    }
  }
}

.article-summary {
  margin: $space 0;

  .article-link {
    font-size: 24px;
    display: block;

    @media screen and (max-width: $small-device) {
      font-size: 20px;
    }
  }

  .article-date, .article-note {
    font-size: 18px;
    display: inline-block;

    @media screen and (max-width: $small-device) {
      font-size: 14px;
    }
  }

  .article-note:before {
    color: #ddd;
    content: "|";
    padding: 0 10px 0 5px;
  }
}

.profile-icons {
  a {
    text-decoration: none;
    margin-right: $space;
  }

  svg {
    width: 36px;
    height: 36px;
  }

  &--twitter svg {
    fill: #1DA1F2;
  }

  &--github svg {
    fill: #181717;
  }

  &--linkedin svg {
    fill: #0077B5;
  }
}

.til-list li {
  list-style-type: decimal-leading-zero;
  color: #ddd;
}
