<div id="sidebar">
  <div class="inner">
    <p class="sidebar-text">Hello there. I&rsquo;m a <b>web developer</b> with a background in ecommerce &amp; digital marketing.</p>
    <p class="sidebar-text">Currently using Ruby, Rails and JavaScript frameworks including Ember.js. At the moment I’m learning Backbone.js and Node.js.</p>
    <p class="sidebar-text"></p>
    
    <a href="http://uk.linkedin.com/in/oliverpeate/" title="LinkedIn profile" class="icon linkedin" rel="me"><span>LinkedIn</span></a>
    <a href="https://github.com/odlp?tab=repositories" title="GitHub repos" class="icon github" rel="me"><span>GitHub</span></a>
    <a href="http://codeable.tumblr.com/" title="Blog: Codeable" class="icon tumblr" rel="me"><span>Tumblr</span></a>
  </div>
</div>