<div id="sidebar">
  <div class="inner">
    <p>Hello. I&rsquo;m a web developer with a background in ecommerce &amp; digital marketing.</p>
    <p><b>I&rsquo;m currently working with Ruby, Rails and JavaScript MV* including Ember.js</b>. At the moment I&rsquo;m learning Backbone.js and Node.js.</p>
    <p>February 2014: Looking for a web development role in the UK. If you&rsquo;d like to have a chat please email me at <a class="highlight" id="contact" href="#">oli @ thisdomain.com</a></p>
    
    <a href="http://uk.linkedin.com/in/oliverpeate/" title="LinkedIn profile" class="icon linkedin" rel="me"><span>LinkedIn</span></a>
    <a href="https://github.com/odlp?tab=repositories" title="GitHub repos" class="icon github" rel="me"><span>GitHub</span></a>
    <a href="http://codeable.tumblr.com/" title="Blog: Codeable" class="icon tumblr" rel="me"><span>Tumblr</span></a>
  </div>
</div>

<script type="text/javascript">
  var contactEle = document.getElementById('contact');
  var contact = contactEle.innerText = ['oliverpeate.com', '@', 'oli'].reverse().join('');
  contactEle.setAttribute('href', 'mailto:' + contact);
</script>