---
title: Open source software development | Oliver Peate
---

<nav>
  <span class="back"><a href="/">Home</a></span>
</nav>

<h1>Open Source</h1>
<p>Here are a few open source projects I’ve been working on. You can find more at <a href="https://github.com/odlp" rel="me">github.com/odlp</a>.</p>

<div class="projects">
  <div class="project">
    <h2><a href="https://github.com/odlp/bluesnooze">Bluesnooze</a></h2>
    <p>Bluesnooze prevents your sleeping Mac from connecting to Bluetooth accessories.</p>
  </div>
  <div class="project">
    <h2><a href="https://github.com/odlp/jet_black">Jet Black</a></h2>
    <p>A black-box testing utility for command line tools and gems. Written in Ruby, with RSpec in mind.</p>
  </div>
  <div class="project">
    <h2><a href="https://github.com/odlp/rspec_overview">RSpec Overview</a></h2>
    <p>Get an overview of your RSpec test suite - handy when you're new to a codebase.</p>
  </div>
  <div class="project">
    <h2><a href="https://github.com/odlp/rspec-with_params">RSpec::WithParams</a></h2>
    <p>Simple parameterized testing with RSpec (a.k.a table tests).</p>
  </div>
  <div class="project">
    <h2><a href="https://github.com/odlp/simplify_rb">SimplifyRB</a></h2>
    <p>Polyline simplification library written in Ruby. Use this gem to reduce the number of points in a complex polyline / polygon. Ported from simplify.js</p>
  </div>
</div>
