<nav>
  <span class="back"><a href="/">Home</a></span>
</nav>

<h1>Open Source</h1>
<p>Here are a few open source projects I’ve been working on. You can find more at <a href="https://github.com/odlp" rel="me">github.com/odlp</a>.</p>

<div class="projects">
  <div class="project">
    <h2><a href="https://github.com/odlp/inflight">Inflight</a></h2>
    <p>A Git hook to <b>pre-populate commit messages with your story ID</b> from Pivotal Tracker. Written in Go.</p>
  </div>
  <div class="project">
    <h2><a href="https://github.com/odlp/swiftfake">Swiftfake</a></h2>
    <p>A Ruby gem for <b>generating test doubles in Swift</b>, allowing interactions to be verified and canned values to be returned. Inspired by Counterfeiter in Golang.</p>
  </div>
  <div class="project">
    <h2><a href="https://github.com/odlp/antifreeze">Antifreeze</a></h2>
    <p>Cloud Foundry plugin to <b>check application manifests before blue-green deployment</b>. This helps prevent unexpected changes during deployments.</p>
  </div>
  <div class="project">
    <h2><a href="https://github.com/odlp/simplify_rb">SimplifyRB</a></h2>
    <p><b>Polyline simplification library</b> written in Ruby. Use this gem to reduce the number of points in a complex polyline / polygon. Ported from simplify.js</p>
  </div>
</div>
