---
title: Whisper Privacy Policy
---

<h1>Whisper Privacy Policy</h1>

<p>Effective date: October 04, 2018.</p>

<p>Whisper does not collect any personal data at all.</p>

<h2>Contact Us</h2>

<p>If you have any questions please contact me by email:
hi{at}oliverpeate.com</p>
